name: ClientCatcher Gradle Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v6

    - name: Set up JDK 17
      uses: actions/setup-java@v5.2.0
      with:
        java-version: 17
        distribution: 'temurin'
        cache: 'gradle'

    - name: Build with Gradle
      uses: nick-invision/retry@v3.0.2
      with:
        timeout_minutes: 4
        max_attempts: 2
        command: gradle build
    - name: Upload build artifact
      uses: actions/upload-artifact@v6
      with:
        name: ClientCatcher
        path: build/libs/ClientCatcher-*.jar
